<div class="header">

  <div class="header-top-bar">
    <div class="container">

      <mat-toolbar class="">

        <span class="logo-wrap">
            <a routerLink="home" routerLinkActive="active" class="logo">
              <img class="logo" src="/assets/images/vgr-logotyp-neg.png" alt="Logo VPL"/>
            </a>
        </span>

        <div class="header-toolbar-spacer"></div>

        <div class="header-controls">

          <span class="header-control-item menu-toggle-wrap">
            <span class="menu-toggle" (click)="menuToggle()">
                <vpk-icon icon="bars"></vpk-icon>
            </span>
          </span>
  
          <span *ngIf="getLoggedInUserId()" class="header-control-item">
            <span class="user-avatar" [style.background-image]="userAvatarBackgroundImageStyle()"></span>
          </span>

          <span *ngIf="getLoggedInDisplayName()" class="header-control-item" [mdePopoverTriggerFor]="userInfoPopover" mdePopoverTriggerOn="hover" >
            {{getLoggedInDisplayName()}}
          </span>

          <mde-popover class="user-info-popover" #userInfoPopover="mdePopover" [mdePopoverOverlapTrigger]="false" mdePopoverArrowColor="rgba(255, 255, 255, 1.0)">

              <app-layout-row>
                  <app-layout-column width=4><em>Förvaltning:</em></app-layout-column>
                  <app-layout-column width=8>{{managementName}}</app-layout-column>
              </app-layout-row>
              <app-layout-row>
                  <app-layout-column width=4><em>Områden:</em></app-layout-column>
                  <app-layout-column width=8>{{administrationsString}}</app-layout-column>
              </app-layout-row>
              <app-layout-row>
                  <app-layout-column width=4><em>Roller:</em></app-layout-column>
                  <app-layout-column width=8>{{roles}}</app-layout-column>
              </app-layout-row>
        
          </mde-popover>

          <span *ngIf="!isLoggedIn()" class="header-control-item">
            <button mat-button (click)="openLogin()">Logga in</button>
          </span>
          <span *ngIf="isLoggedIn()" class="header-control-item">
            <button mat-button (click)="logout()">Logga ut</button>
          </span>

        </div>
      </mat-toolbar>
    </div>
  </div>

  <div class="header-menu-bar" [ngClass]="{open: isMenuOn}">
    <div class="container">
      <mat-toolbar class="menu-bar">

        <mat-toolbar-row>
          <!--<mat-list>

            <mat-list-item>-->
          <span class="list-item">
              <a routerLink="/hem" routerLinkActive="active">
                <span class="nav-label">Hem</span>
              </a>
            </span>
          <!--</mat-list-item>

          <mat-list-item>-->
          <span class="list-item">
              <a routerLink="/koordinering" routerLinkActive="active">
                <span class="nav-label">Koordinering</span>
              </a>
          </span>

          <span class="list-item">
              <a routerLink="/vpl" routerLinkActive="active">
                <span class="nav-label">Vårdplatsläge</span>
              </a>
          </span>

          <span class="list-item">
              <a routerLink="/definitions" routerLinkActive="active">
                <span class="nav-label">Definitioner</span>
              </a>
          </span>

          <span class="list-item">
            <a routerLink="/dokument" routerLinkActive="active">
              <span class="nav-label">Dokument och länkar</span>
            </a>
        </span>

          <span class="list-item" *ngIf="hasApplicationAdministrationPermission">
              <a routerLink="/administration" routerLinkActive="active">
                <span class="nav-label">Administration</span>
              </a>
          </span>

          <!--            </mat-list-item>-->

          <!--<mat-list-item>
            <a routerLink="apk" routerLinkActive="active" *ngIf="getLoggedInDisplayName()">
              <span class="nav-label">Arbetsplatskoder</span>
            </a>
          </mat-list-item>

          <mat-list-item>
            <a routerLink="admin" routerLinkActive="active" *ngIf="getLoggedInUserId()">
              <span class="nav-label">Administration</span>
            </a>
          </mat-list-item>

          <mat-list-item>
            <a routerLink="report" routerLinkActive="active" *ngIf="getLoggedInUserId()">
              <span class="nav-label">Rapporter</span>
            </a>
          </mat-list-item>-->
          <!--          </mat-list>-->
        </mat-toolbar-row>

      </mat-toolbar>
    </div>
  </div>

</div>
