.wrapper {
    box-sizing: border-box;    
    margin: 0 auto;
    position: relative;

    min-height: 100%;
    margin-bottom: -$footer-height;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $scaffolding-max-width;
  padding: 0 20px;
  position: relative;
  width: auto;
}



//
// Grid system uses mincss grid (see vendor/mincss)
// col-inner has been added to markup examples compared to mincss grid to
// enable better handling padding between columns
// Total gutter size for a row should amount to 12
// Example markup:
//
//<div class="row">
//    <div class="col c12">
//      <div class="col-inner">12</div>
//    </div>
//</div>

//<div class="row">
//    <div class="col c4">
//      <div class="col-inner">4</div>
//    </div>
//    <div class="col c8">
//      <div class="col-inner">8</div>
//    </div>
//</div>

.row {
  @extend .clearfix;
  padding: 8px 0;
}

.col, app-left-column, app-right-column {
  float: left
}

.table, .c12 {
  width: 100%
}

.c11 {
  width: 91.66%
}

.c10 {
  width: 83.33%
}

.c9 {
  width: 75%
}

.c8 {
  width: 66.66%
}

.c7 {
  width: 58.33%
}

.c6 {
  width: 50%
}

.c5 {
  width: 41.66%
}

.c4 {
  width: 33.33%
}

.c3 {
  width: 25%;
}

.c2 {
  width: 16.66%
}

.c1 {
  width: 8.33%
}

.col-inner {
  box-sizing: border-box;
  min-height: 1px;
  width: 100%;
}

.row {

  .col-inner {
    padding: 0 20px;
  }

  .layout-column:first-child {
    .col-inner {
      padding-left: 0;
    }
  }

  .layout-column:last-child {
    .col-inner {
      padding-right: 0;
    }
  }

}

@media(max-width: 870px) {
  .row .col {
    width: 100%;

    .col-inner {
      padding: 0;
    }

  }
}