<mat-card>
  <mat-card-header>
    <mat-card-title>
      Dagens registreringar
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="todaysRegistreringar">

      <ng-container matColumnDef="verksamhet">
        <th mat-header-cell *matHeaderCellDef> Verksamhet </th>
        <td mat-cell *matCellDef="let registrera"> {{registrera.verksamhet}} </td>
      </ng-container>

      <ng-container matColumnDef="datum">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let registrera"> {{registrera.datum}} </td>
      </ng-container>

      <ng-container matColumnDef="veckodag">
        <th mat-header-cell *matHeaderCellDef> Veckodag </th>
        <td mat-cell *matCellDef="let registrera"> {{registrera.veckodag}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Vårdplatstrappa och beslut om åtgärder (fel tabell än så länge)
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="registreringar" #oldRegistreraTable>

      <ng-container matColumnDef="verksamhet">
        <th mat-header-cell *matHeaderCellDef> Verksamhet </th>
        <td mat-cell *matCellDef="let registrera"> {{registrera.verksamhet}} </td>
      </ng-container>

      <ng-container matColumnDef="datum">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let registrera"> {{registrera.datum}} </td>
      </ng-container>

      <ng-container matColumnDef="veckodag">
        <th mat-header-cell *matHeaderCellDef> Veckodag </th>
        <td mat-cell *matCellDef="let registrera"> {{registrera.veckodag}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
