<vpk-title-row heading="{{management?.name}}{{management ? ', ' : ''}} {{dayName ? dayName + ' ' : ''}}{{date}}">
  <vpk-button-row align="right">

    <vpk-button-fab (click)="openDegreeOfImpactDialog()" icon="chart-line" color="" tooltip="Grad of påverkan"></vpk-button-fab>

    <vpk-button-fab (click)="picker.open()" icon="calendar-day" color="" tooltip="Byt datum"></vpk-button-fab>
  </vpk-button-row>
</vpk-title-row>


<div>
  <input  (dateChange)="dateSelected('change', $event)" [(ngModel)]="dateObject" type="hidden" [matDatepicker]="picker" placeholder="Välj datum">
  <mat-datepicker touchUi #picker></mat-datepicker>
</div>

<vpk-card title="Dagens beslut">
  <div *ngIf="(todaysDecisionDataSource.count | async) === 0">

    <vpk-alert message="Det finns inget beslut för dagen ännu."></vpk-alert>

    <vpk-button *ngIf="hasDecisionEditPermission()"  (click)="editNewDecision()" class="condensed" icon="plus" iconSize="2x" tooltip="Lägg till"></vpk-button>
  </div>

  <app-decision-table [dataSource]="todaysDecisionDataSource" (editDecision)="editDecisionByAkutenTrappaId($event)"></app-decision-table>
</vpk-card>

<vpk-card title="Dagens registreringar" icon="bed">

  <app-registrera-table [registreringar]="todaysRegistreringar" (editRegistrera)="editRegistrera($event)"></app-registrera-table>

</vpk-card>

<vpk-card title="Tidigare beslut">

  <app-decision-table [dataSource]="oldDecisionsDataSource" (editDecision)="editDecisionByAkutenTrappaId($event)"></app-decision-table>

</vpk-card>
