<vpk-card title="Dagens beslut">
  <div *ngIf="!todaysDecision">Det finns inget beslut för dagen ännu.
    <div><button (click)="editNewDecision()">Plus</button> </div>
  </div>

  <div *ngIf="todaysDecision">
    <app-decision-table [registreraAggregates]="todaysDecision" (editDecision)="editDecisionByAkutenTrappaId($event)"></app-decision-table>
  </div>
</vpk-card>

<vpk-card title="Dagens registreringar" icon="bed">

  <table mat-table [dataSource]="todaysRegistreringar">

    <ng-container matColumnDef="verksamhet">
      <th mat-header-cell *matHeaderCellDef>Verksamhet</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.verksamhet}}</td>
    </ng-container>

    <ng-container matColumnDef="dispVpl">
      <th mat-header-cell *matHeaderCellDef>Disp. vpl 06.00</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.dispVpl}}</td>
    </ng-container>

    <ng-container matColumnDef="inneliggande">
      <th mat-header-cell *matHeaderCellDef>Inneliggande</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.inneliggande}}</td>
    </ng-container>

    <ng-container matColumnDef="fysOtillaten">
      <th mat-header-cell *matHeaderCellDef>Beläggning</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.fysOtillaten}}</td>
    </ng-container>

    <ng-container matColumnDef="fysTillaten">
      <th mat-header-cell *matHeaderCellDef>Vpl med brister</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.fysTillaten}}</td>
    </ng-container>

    <ng-container matColumnDef="prognosFore">
      <th mat-header-cell *matHeaderCellDef>Prognos lediga 16.00</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.prognosFore}}</td>
    </ng-container>

    <ng-container matColumnDef="maltalVardag">
      <th mat-header-cell *matHeaderCellDef>Måltal (vardag)</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.maltalVardag}}</td>
    </ng-container>

    <ng-container matColumnDef="diffVardag">
      <th mat-header-cell *matHeaderCellDef>Prognos minus måltal</th>
      <td mat-cell *matCellDef="let registrera">{{registrera.diffVardag}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let registrera">
        <button (click)="editRegistrera(registrera)">
          <span *ngIf="!registrera.dispVpl">add</span>
          <span *ngIf="registrera.dispVpl">edit</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="todayDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: todayDisplayedColumns;"></tr>
  </table>
</vpk-card>

<vpk-card title="Tidigare beslut">

  <app-decision-table [registreraAggregates]="registreraAggregates" (editDecision)="editDecisionByAkutenTrappaId($event)"></app-decision-table>

</vpk-card>
