<h1 mat-dialog-title>Logga in</h1>

<div class="alert alert-danger" *ngIf="loginMessage">{{loginMessage}}</div>

<form #loginForm="ngForm" class="login-form">
  <p>
    Särskild behörighet krävs. Frågor besvaras av din kontaktperson.
  </p>
  <div>
    <mat-form-field>
      <input placeholder="VGR-ID" type="text" matInput [(ngModel)]="userId" name="USER" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input placeholder="Lösenord" type="password" matInput [(ngModel)]="password" name="PASSWORD" required>
    </mat-form-field>
  </div>

  <vpk-button-row align="right">
      <vpk-button label="Avbryt" (click)="cancel()"></vpk-button>
      <vpk-button color="primary" label="Logga in" (click)="login()" type="submit"></vpk-button>
  </vpk-button-row>
  
</form>
