<h1>Styleguide</h1>

<h2>VPK card</h2>
<vpk-card title="Card title" icon="bed">Some content</vpk-card>

<vpk-card title="No icon">Some content</vpk-card>

<h2>VPK list</h2>
<vpk-list>
    <vpk-list-item url="www.google.se" text="Point to the right" icon="arrow-right"></vpk-list-item>
    <vpk-list-item url="www.google.se" text="Download" icon="file-download"></vpk-list-item>
    <vpk-list-item url="www.google.se" text="Some other" icon="arrow-right"></vpk-list-item>
</vpk-list>

<h2>Layout med app-layout-row och app-layout-column</h2>
<p>Värdet på width för app-layout-column kan vara mellan 1-12 summan av width för alla kolumnerna i en app-layout-row skall vara 12.</p>

<app-layout-row>
    <app-layout-column width=6>
        <vpk-card title="Dokument" icon="file-alt">
            <vpk-list>
                <vpk-list-item url="www.google.se" text="Point to the right" icon="arrow-right"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Download" icon="file-download"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Some other" icon="arrow-right"></vpk-list-item>
            </vpk-list>
        </vpk-card>
        </app-layout-column>
    <app-layout-column width=6>
        <vpk-card title="Länkar" icon="link">
            <vpk-list>
                <vpk-list-item url="www.google.se" text="Point to the right" icon="arrow-right"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Download" icon="file-download"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Some other" icon="arrow-right"></vpk-list-item>
            </vpk-list>
        </vpk-card>
        </app-layout-column>
</app-layout-row>

<h2>VPK Button</h2>
<p>Tillgängliga attribut för vpk-button:</p>
<ul>
    <li><em>class</em>: Extra css-klasser för styling av knapp. Stylade värden är "condensed" som har mindre horisontell padding.</li>
    <li><em>color</em>: Om attributet utelämnas blir knappen en sekundärknapp. Möjliga värden är "primary", "accent", "warn"</li>
    <li><em>disabled</em>: Om värdet är true blir knappen disabled (inaktiv)</li>
    <li><em>icon</em>: Om attributet utelämnas visas ingen ikon. Möjliga värden: FontAwesome ikoner</li>
    <li><em>iconPosition</em>: Om attributet utelämnas visas ikonen till vänster om knappens text. Möjliga värden är "right"</li>
    <li><em>iconSize</em>: Om attributet utelämnas visas ikonen med storleken "sg". Möjliga värden är alla FontAwesome-storlekar men endast "sg" har stylats för knappar med text. För ikon-knappar är "sg", "lg" och "2x" stylade.
    <li><em>label</em>: Knappens text</li>
    <li><em>tooltip</em>: Tooltip för knappen</li>
</ul>

<vpk-card>
    <h3>Primär- och sekundärknapp utan ikon</h3>
    <vpk-button-row>
        <vpk-button color="primary" label="Spara"></vpk-button>
        <vpk-button label="Avbryt"></vpk-button>
    </vpk-button-row>

    <h3>Primär- och sekundärknapp med ikon</h3>
    <vpk-button-row>
        <vpk-button icon="plus" color="primary" label="Lägg till"></vpk-button>    
        <vpk-button icon="plus" label="Lägg till"></vpk-button>
    </vpk-button-row>

    <h3>Primärknapp med ikon till höger</h3>
    <vpk-button-row>
        <vpk-button icon="plus" iconPosition="right" color="primary" label="Lägg till"></vpk-button>
    </vpk-button-row>

    <h3>Ikon-knappar</h3>
    <vpk-button-row>
        <vpk-button class="condensed" icon="plus" iconSize="lg" color="primary" tooltip="Lägg till"></vpk-button>
        <vpk-button class="condensed" icon="pen" iconSize="sg" tooltip="Redigera"></vpk-button>
    </vpk-button-row>

    <h3>Större Ikon-knappar</h3>
    <vpk-button-row>
        <vpk-button class="condensed" icon="plus" iconSize="2x" color="primary" tooltip="Lägg till"></vpk-button>
        <vpk-button class="condensed" icon="pen" iconSize="2x" tooltip="Redigera"></vpk-button>
    </vpk-button-row>


    <h3>Inaktiv (disabled) knapp</h3>
    <vpk-button-row>
        <vpk-button color="primary" label="Spara" [disabled]="true"></vpk-button>
    </vpk-button-row>

    <h3>Centrerade knappar</h3>
    <vpk-button-row align="center">
        <vpk-button color="primary" label="Spara"></vpk-button>
        <vpk-button label="Avbryt"></vpk-button>
    </vpk-button-row>

    <h3>Högerjusterade knappar</h3>
    <vpk-button-row align="right">
        <vpk-button color="primary" label="Spara"></vpk-button>
        <vpk-button label="Avbryt"></vpk-button>
    </vpk-button-row>


</vpk-card>

<h2>VPK Fab Button</h2>

<h3>Vänsterjusterade knappar</h3>
<vpk-button-row>
    <vpk-button-fab icon="plus" color="primary" tooltip="Lägg till"></vpk-button-fab>    
    <vpk-button-fab icon="plus" tooltip="Lägg till"></vpk-button-fab>
</vpk-button-row>

<h3>Högerjusterade knappar</h3>
<vpk-button-row align="right">
    <vpk-button-fab icon="plus" color="primary" tooltip="Lägg till"></vpk-button-fab>    
    <vpk-button-fab icon="plus" tooltip="Lägg till"></vpk-button-fab>
</vpk-button-row>

<h2>Navigation blocks</h2>

<vpk-navigation-cards [navItems]="navItems"></vpk-navigation-cards>

<!--
<vpk-card title="Card title" icon="bed">Some content</vpk-card>
-->