<h1>Styleguide</h1>

<h2>VPK card</h2>
<vpk-card title="Card title" icon="bed">Some content</vpk-card>

<vpk-card title="No icon">Some content</vpk-card>

<h2>VPK list</h2>
<vpk-list>
    <vpk-list-item url="www.google.se" text="Point to the right" icon="arrow-right"></vpk-list-item>
    <vpk-list-item url="www.google.se" text="Download" icon="file-download"></vpk-list-item>
    <vpk-list-item url="www.google.se" text="Some other" icon="arrow-right"></vpk-list-item>
</vpk-list>

<h2>Layout with Angular Flex</h2>

<div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50%">
        <vpk-card title="Dokument" icon="file-alt">
            <vpk-list>
                <vpk-list-item url="www.google.se" text="Point to the right" icon="arrow-right"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Download" icon="file-download"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Some other" icon="arrow-right"></vpk-list-item>
            </vpk-list>
        </vpk-card>
    </div>
    <div fxFlex="50%">
        <vpk-card title="Länkar" icon="link">
            <vpk-list>
                <vpk-list-item url="www.google.se" text="Point to the right" icon="arrow-right"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Download" icon="file-download"></vpk-list-item>
                <vpk-list-item url="www.google.se" text="Some other" icon="arrow-right"></vpk-list-item>
            </vpk-list>
        </vpk-card>
    </div>
</div>