<vpk-title-row heading="Välkommen till Vårdplatskoordinering"></vpk-title-row>

<app-layout-row>

  <app-layout-column width=6>

    <vpk-card title="Om Vårdplatskoordinering" icon="info-circle">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac condimentum eros. Ut vel rhoncus justo,
        ut iaculis lorem. Proin sagittis quis libero vel mattis. Sed a nunc sed dui laoreet consequat. Morbi vitae
        dapibus diam. Quisque feugiat, tellus ut dictum facilisis, arcu nisi fringilla est, eget sollicitudin arcu felis
        ac ex. Duis in eros molestie, porta justo eu, bibendum ligula. Cras ultrices mauris vel nisi ornare consequat.
        Quisque varius risus vitae ultricies condimentum. </p>
    </vpk-card>

  </app-layout-column>

  <app-layout-column width=6>

    <vpk-card title="Mina favoriter" icon="star">
      <vpk-alert *ngIf="navItems.length === 0" message="Du har inte lagt till några favoriter ännu."></vpk-alert>
      <app-layout-row *ngFor="let favoriteLink of favoriteLinks">
        <app-layout-column width=6>
          <a [routerLink]="favoriteLink.url">{{favoriteLink.name}}</a>
        </app-layout-column>
        <app-layout-column width=6>
          {{favoriteLink.info}}
        </app-layout-column>
      </app-layout-row>
    </vpk-card>

  </app-layout-column>

</app-layout-row>
