.mat-form-field {

    .vpk-alert {
        margin-top: 20px;
    }

    &.mat-focused {
        .vpk-alert {
            margin-top: 0;
        }
    }

  vpk-icon {
    height: auto;
    position: absolute;
    right: 24px;
    width: auto;
  }
}
