.vpk-table,
.vpk-table.mat-table {

  width: 100%;

  .mat-cell,
  .mat-footer-cell,
  .mat-header-cell {
    padding: 0 10px;
  }

  .mat-cell {
    word-break: break-all;
  }

  .mat-header-cell {
    font-size: 14px;
    font-weight: bold;
  }


  .sum-row {
    font-weight: bold;
  }

  .detail-row {
    height: 0;
  }

  .element-row {
    .toggle-cell:hover {
      background: #f5f5f5;
    }

    &:not(.expanded-row):active {
      background: #efefef;
    }

  }

  .mobile-details {
    display: block;
    padding: 0;
    margin: 5px 5px;

    @include xsmall {
      margin: 5px 30px;
    }

    &.mobile-details-collapsed {
      display: none;
    }

    .mobile-detail-item {
      @include clearfix();

      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 5px;

      .mobile-detail-item-label {
        color: rgba(0, 0, 0, 0.54);
        float: left;
        font-weight: bold;
        width: 150px;
      }

      .mobile-detail-item-data {
        margin-left: 160px;
        max-width: 200px;

        &.number-data {
          text-align: right;
        }

      }

    }

    &.mobile-details-only {
      .mobile-detail-item:last-child {
        border-bottom: none;
      }
    }

  }


  @include xsmall {
    .mobile-details {
      display: none;
    }
  }
  
  .element-detail {

    overflow: hidden;

    &.element-detail-expanded {
      margin: 10px 5px;

      @include xsmall {
        margin: 20px 30px;
      }
    }

  }

  .number-cell {
    text-align: right;
  }

  .action-cell {
    text-align: right;
  }

  .toggle-cell {
    .vpk-icon {
      display: inline-block;
    }
  }


  // Not used? Moved from element scss
  .element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .element-description {
    padding: 16px;
  }

  .element-description-attribution {
    opacity: 0.5;
  }


}

app-crud-table.break-word {
  td {
    word-break: break-word;
  }
}
