.vpk-navigation-cards {

    @include clearfix();

    .vpk-navigation-card {

        float: left;
        width: 33%;

        .vpk-navigation-card-link {
            display: block;
            margin: 0 10px;

            &:hover {
                .vpk-card {
                    border-top-color: $vgr-orange;

                    .mat-card-header {
                        color: $vgr-orange;
                    }
                }
            }
        }

        &:nth-child(3n+1) {
            .vpk-navigation-card-link {
                margin-left: 0;
            }
        }

        &:nth-child(n+3):nth-child(odd) {
            .vpk-navigation-card-link {
                margin-right: 0;
            }
        }

        

    }

}