.vpk-button {

    button {
        min-width: auto;
    }

    vpk-icon + .vpk-button-label {
        margin-left: 4px;
    }

    .vpk-button-label + vpk-icon  {
        margin-left: 4px;
    }

    &.condensed {
        button {
            padding: 0 10px;
        }
    }

    &.vpk-button-icon-2x {
        button {
            line-height: 48px;
            padding-left: 15px;
            padding-right: 15px;

            .ng-fa-icon {
                vertical-align: -15%;
            }
        }
    }

}