$badgeSizeSmall: 24px;
$badgeSizeMedium: 40px;
$badgeSizeLarge: 70px;
$badgeSizeXlarge: 90px;

.vpk-badge {

    display: inline-block;

    .vpk-badge-container {
        background: #333;
        box-sizing: border-box;
        color: white;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        height: $badgeSizeMedium;
        line-height: $badgeSizeMedium;
        margin: 0 auto;
        text-align: center;
        width: $badgeSizeMedium;

        @include border-radius(50%);

        // Sizes
        &.vpk-badge-size-s {
            font-size: 12px;
            height: $badgeSizeSmall;
            line-height: $badgeSizeSmall;
            width: $badgeSizeSmall;
        }

        &.vpk-badge-size-m {
            // Default size
        }

        &.vpk-badge-size-l {
            font-size: 22px;
            height: $badgeSizeLarge;
            line-height: $badgeSizeLarge;
            width: $badgeSizeLarge;
        }

        &.vpk-badge-size-xl {
            font-size: 28px;
            height: $badgeSizeXlarge;
            line-height: $badgeSizeXlarge;
            width: $badgeSizeXlarge;
        }

        &.vpk-badge-auto-x {
            &.vpk-badge-size-s,
            &.vpk-badge-size-m,
            &.vpk-badge-size-l,
            &.vpk-badge-size-xl {
                padding: 0 10px;
                width: auto;
                @include border-radius(10px);
            }
        }


        // Colors

        &.vpk-badge-transparent {
            background: transparent;
            color:#555;
        }

        &.vpk-badge-red {
            background: $vpk-red;
            color: white;
        }

        &.vpk-badge-green {
            background: green;
            color: white;
        }

        &.vpk-badge-orange {
            background: $vgr-orange;
            color: #fff;
        }
        


    }

    &+.vpk-badge {
        margin-left: 10px;
    }
}