.vpk-navigation-card {

    .vpk-navigation-card-link {
        display: block;

        .vpk-card {

            @include transition(all .5s ease);

            .mat-card-header {
                display: block;
                text-align: center;
                @include transition(all .5s ease);
            }
    
            .mat-card-content {
                text-align: center;
    
                .vpk-navigation-card-label {
                    font-size: 1.4em;
                    @include transition(all .5s ease);
                }
    
                .vpk-icon {
                    margin-left: 5px;
                    @include transition(all .5s ease);
                }
    
            }
    
        }        

        // Blue hover
        &:hover {
            .vpk-card {
                background: $vgr-blue;

                .mat-card-header {
                    color: white;
                }

                .mat-card-content {
                    .vpk-navigation-card-label {
                        //text-decoration: underline;
                        color: white;
                    }
                    .vpk-icon {
                        color: white;
                    }
                }

            }
        }        


    }

}