<table mat-table [dataSource]="dataSource" *ngIf="(dataSource.count | async) > 0">

  <ng-container matColumnDef="datum">
    <th mat-header-cell *matHeaderCellDef>Datum</th>
    <td mat-cell *matCellDef="let aggregate">{{aggregate.veckodag.slice(0, 3)}} ({{aggregate.datum}})</td>
  </ng-container>

  <ng-container matColumnDef="ledigaDisp">
    <th mat-header-cell *matHeaderCellDef>Utfall lediga disp vpl</th>
    <td mat-cell *matCellDef="let aggregate"> {{aggregate.ledigaDisp}} </td>
  </ng-container>

  <ng-container matColumnDef="overbel">
    <th mat-header-cell *matHeaderCellDef>Utfall antal överbeläggn.</th>
    <td mat-cell *matCellDef="let aggregate">{{aggregate.overbel}}</td>
  </ng-container>

  <ng-container matColumnDef="diff">
    <th mat-header-cell *matHeaderCellDef>Prognis minus måltal</th>
    <td mat-cell *matCellDef="let aggregate">{{aggregate.diff}}</td>
  </ng-container>

  <ng-container matColumnDef="vardplatstrappa">
    <th mat-header-cell *matHeaderCellDef>Grad av påverkan</th>
    <td mat-cell *matCellDef="let aggregate">{{aggregate.vardplatstrappa}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let aggregate"><button (click)="outputEditDecision(aggregate.akutenTrappaId)">Redigera</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [hidePageSize]="true" [style.display]="(dataSource.count | async) >= 5 ? 'block': 'none'" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
