<!--
<vpk-title-row heading="Vårdplatsläge idag">
-->
<vpk-title-row heading="{{management?.name}}{{management ? ', ' : ''}} {{dayName ? dayName + ' ' : ''}}{{date}}">
  <vpk-button-row align="right">


    <vpk-button-fab (click)="picker.open()" icon="calendar-day" color="" tooltip="Byt datum"></vpk-button-fab>
    <vpk-button-fab *ngIf="isLoggedIn() && !isFavorite" (click)="toggleFavorite()" icon="star" tooltip="Lägg till som favorit" class="vpk-fab-favorite"></vpk-button-fab>
    <vpk-button-fab *ngIf="isLoggedIn() && isFavorite" (click)="toggleFavorite()" icon="star" tooltip="Ta bort som favorit" class="vpk-fab-favorite is-favorite"></vpk-button-fab>
    <vpk-button-fab (click)="picker.open()" icon="plus" color="primary" tooltip="Lägg till"></vpk-button-fab>

  </vpk-button-row>
</vpk-title-row>


<div>
  <input  (dateChange)="dateSelected('change', $event)" [(ngModel)]="dateObject" type="hidden" [matDatepicker]="picker" placeholder="Välj datum">
  <mat-datepicker touchUi #picker></mat-datepicker>
</div>

<app-layout-row>

  <app-layout-column width=4>

    <vpk-card title="Faktiskt lediga platser" icon="chart-line">

      <app-layout-row>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">07.00</div>
            <vpk-badge value="-31" size="l" color="red"></vpk-badge>
          </div>
        </app-layout-column>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">11.00</div>
            <vpk-badge value="-31" size="l" color="red"></vpk-badge>
          </div>
        </app-layout-column>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">16.00</div>
            <vpk-badge value="-" size="l" color="transparent"></vpk-badge>
          </div>
        </app-layout-column>
      </app-layout-row>

    </vpk-card>

  </app-layout-column>

  <app-layout-column width=4>

    <vpk-card title="Prognos lediga platser" icon="chart-line">
      <app-layout-row>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">07.00</div>
            <vpk-badge value="-31" size="l" color="red"></vpk-badge>
          </div>
        </app-layout-column>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">11.00</div>
            <vpk-badge value="-31" size="l" color="red"></vpk-badge>
          </div>
        </app-layout-column>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">16.00</div>
            <vpk-badge value="-" size="l" color="transparent"></vpk-badge>
          </div>
        </app-layout-column>
      </app-layout-row>
    </vpk-card>

  </app-layout-column>

  <app-layout-column width=4>

    <vpk-card title="Prognos överbeläggning" icon="chart-line">
      <app-layout-row>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">07.00</div>
            <vpk-badge value="-31" size="l"></vpk-badge>
          </div>
        </app-layout-column>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">11.00</div>
            <vpk-badge value="-31" size="l"></vpk-badge>
          </div>
        </app-layout-column>
        <app-layout-column width="4">
          <div class="vpk-dashboard-element">
            <div class="vpk-dashboard-element-label">16.00</div>
            <vpk-badge value="-" size="l" color="transparent"></vpk-badge>
          </div>
        </app-layout-column>
      </app-layout-row>
    </vpk-card>

  </app-layout-column>
</app-layout-row>

<vpk-card title="07:00" icon="clock" iconSet="far">
  <app-vpl-table (saveEvent)="updateAll()" [dataSource]="morningVplRegs"></app-vpl-table>
</vpk-card>

<vpk-card title="11:00"  icon="clock" iconSet="far">
  <app-vpl-table (saveEvent)="updateAll()" [dataSource]="noonVplRegs"></app-vpl-table>
</vpk-card>

<vpk-card title="16:00"  icon="clock" iconSet="far">
  <app-vpl-table (saveEvent)="updateAll()" [dataSource]="afternoonVplRegs"></app-vpl-table>
</vpk-card>
