<div id="container">

  <!--<div class="alert" *ngIf="newVersionAvailable">
    En ny version av Vårdplatspusslet finns tillgänglig. <a onclick="javascript: location.reload()">Ladda om sidan </a> för att uppdatera.
  </div>-->
  <app-header></app-header>

  <div class="content">

    <div class="retain-contain">

      <router-outlet></router-outlet>

    </div>

  </div>

  <div class="footer">
    <div class="retain-contain">
      <mat-toolbar>
        <a href="//www.vgregion.se" class="logo-link">
          <img class="logo" src="/assets/images/vgr-logotyp-neg.png" alt="Logo VGR" />
        </a>
      </mat-toolbar>
    </div>
  </div>

</div>
