<div fxLayout="row wrap center" fxLayoutAlign="space-around" >
 <a fxFlex="30%" routerLink="/managements"><vpk-card  title="Förvaltningar"></vpk-card></a>
  <a fxFlex="30%" routerLink="/areas"><vpk-card  title="Omården"></vpk-card></a>
  <a fxFlex="30%" routerLink="/units"><vpk-card  title="Avdelningar"></vpk-card></a>
</div>

<div fxLayout="row wrap center" fxLayoutAlign="space-around">
  <a fxFlex="30%" routerLink="/user-admin"><vpk-card  title="Användare"></vpk-card></a>
  <a fxFlex="30%" routerLink="definition"><vpk-card  title="Definitioner"></vpk-card></a>
</div>
