<form [formGroup]="formGroup" >
  <div *ngFor="let field of fieldsConfigs">
    <mat-form-field *ngIf="field.type === 'input'">
      <input matInput placeholder="{{field.label}}" [formControlName]="field.name" />
    </mat-form-field>

    <div *ngIf="field.type === 'ckeditor'">
      <label>{{field.label}}</label>
      <ckeditor [formControlName]="field.name"></ckeditor>
    </div>

    <mat-form-field *ngIf="field.type === 'select'">
      <mat-label>{{field.label}}</mat-label>
      <mat-select [formControlName]="field.name">
        <mat-option *ngFor="let option of field.options" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="field.type === 'multiselect'">
      <mat-label>{{field.label}}</mat-label>
      <mat-select [formControlName]="field.name" multiple>
        <mat-option *ngFor="let option of field.options" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--<button (click)="cancel()">Avbryt</button>
  <button (click)="saveAndEmit()">Spara</button>-->

  <vpk-button-row align="right">
    <vpk-button (click)="cancel()" label="Avbryt"></vpk-button>
    <vpk-button (click)="saveAndEmit()" color="primary" label="Spara"></vpk-button>
  </vpk-button-row>
</form>
