.vpk-title-row {
    display: block;
    margin: 0 0 20px 0;

    .row {
        padding: 0;
    }

    .vpk-title-row-heading-col {
        .vpk-title-row-heading {
            line-height: 1.7;
            margin: 0;
        }
    }

    .vpk-title-row-controls-col {

        .vpk-button-row {
            margin: 0;
        }

    }



}