.vpk-card {
     border-top: 7px solid $vgr-blue;

     &.mat-card {
         padding: 20px;
     }

    .mat-card-header {

        color: $vgr-blue;
        margin-bottom: 20px;

        .mat-card-avatar {
            height: auto;
            width: auto;
        }

        .mat-card-header-text {
            margin: 0 15px;

            .mat-card-title {
                font-size: 1.5em;
                line-height: 1.5em;
                margin-bottom: 0;
            }
        }

    }

}