.vpk-card {
     border-top: 7px solid $vgr-blue;

    .mat-card-header {

        color: $vgr-blue;
        margin-bottom: 10px;

        .mat-card-avatar {
            height: auto;
            width: auto;
        }

        .mat-card-header-text {
            margin: 0 10px;
        }

    }

}