<vpk-card title="Dagens beslut - {{!akutenTrappa.id ? 'Ny' : 'Befintlig'}}" [draggable]="true">
  <h2>{{akutenTrappa.datum}}, {{management.name}}</h2>

  <form [formGroup]="formGroup">
    <div>
      <mat-form-field>
        <input matInput placeholder="Påverkansgrad (0-4):" formControlName="vardplatstrappa">
      </mat-form-field>
    </div>

    <div>
      <mat-label>Kommentarer:</mat-label>
      <ckeditor formControlName="beslut"></ckeditor>
    </div>

  </form>

  <vpk-button-row align="right">
    <vpk-button (click)="cancel()" label="Avbryt"></vpk-button>
    <vpk-button (click)="saveAndEmit()" color="primary" label="Spara"></vpk-button>
  </vpk-button-row>

</vpk-card>
