/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'assets/scss/utilities/variables';
@import 'assets/scss/utilities/mixins';

@import 'assets/scss/theme/vpk-material-theme';

@import 'assets/scss/utilities/clearfix';
@import 'assets/scss/utilities/scaffolding';

@import 'assets/scss/atoms/body';
@import 'assets/scss/atoms/container';
@import 'assets/scss/atoms/headings';

@import 'assets/scss/molecules/menu-bar';
@import 'assets/scss/molecules/vpk-alert';
@import 'assets/scss/molecules/vpk-button';
@import 'assets/scss/molecules/vpk-button-row';
@import 'assets/scss/molecules/vpk-card';
@import 'assets/scss/molecules/vpk-navigation-card';
@import 'assets/scss/molecules/vpk-navigation-cards';
@import 'assets/scss/molecules/vpk-list';


@import 'assets/scss/organisms/content';
@import 'assets/scss/organisms/footer';
@import 'assets/scss/organisms/header';
@import 'assets/scss/organisms/vpk-title-row';




a
{
  text-decoration: none;
}

.spinner
{
  margin: auto;
}

mat-dialog-container .mat-form-field {
  width: 100%;
}

.vpk-card-wrapper mat-dialog-container {
  padding: 0;
  overflow: hidden;

  .vpk-card {
    margin-bottom: 0;
  }
}

.drag-handle {

  margin-left: auto;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

}
