<vpk-title-row [heading]="heading">
  <vpk-button-row align="right">
    <vpk-button-fab icon="plus" color="primary" tooltip="Lägg till" (click)="openAdd()"></vpk-button-fab>
  </vpk-button-row>
</vpk-title-row>

<vpk-card>
  <table mat-table [dataSource]="dataSource">

    <!-- Filter -->
    <ng-container *ngFor="let config of fieldConfigs" matColumnDef="sort-{{config.name}}">
      <th mat-header-cell *matHeaderCellDef>

        <span *ngIf="config.filterable && (config.type === 'select' || config.type === 'multiselect')">
          <mat-select placeholder="Välj filter" (valueChange)="applyFilter($event, config)">
            <mat-option>Inget filter</mat-option>
            <mat-option *ngFor="let option of config.options" [value]="option.value">{{option.label}}</mat-option>
          </mat-select>
        </span>

        <span *ngIf="config.filterable && config.type === 'input'">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value, config)" placeholder="Filtrera"/>
          </mat-form-field>
        </span>

      </th>
    </ng-container>

    <ng-container matColumnDef="sort-edit">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <ng-container *ngFor="let config of fieldConfigs" matColumnDef="{{config.name}}">
      <th mat-header-cell *matHeaderCellDef>{{config.label}}</th>
      <td mat-cell *matCellDef="let item" [innerHTML]="getValue(config, item, config.name)"></td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <vpk-icon icon="ellipsis-v"></vpk-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openEdit(item)">
            <vpk-icon icon="edit"></vpk-icon>
            Redigera
          </button>
          <button mat-menu-item (click)="confirmDelete(item)">
            <vpk-icon icon="trash"></vpk-icon>
            Radera
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <ng-container *ngIf="isAnyFilter()">
      <tr mat-header-row *matHeaderRowDef="getColumnsWithSortPrefix()"></tr>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
    <tr mat-row *matRowDef="let item; columns: getColumns();"></tr>

  </table>
</vpk-card>
