<h1 mat-dialog-title>
  <span *ngIf="user.id">Användare {{user.id}}</span>
  <span *ngIf="!user.id">Ny användare</span>
</h1>
<div mat-dialog-content>
  <h2>{{user.verksamhet}}</h2>

  <form [formGroup]="formGroup">
    <div>
      <label>Id:</label>
      <span>{{user.id}}</span>
    </div>

    <div>
      <label>Namn:</label>
      <input formControlName="name" type="text">
    </div>

    <div>
      <label>Användare:</label>
      <input formControlName="username" type="text">
    </div>
<!--

    <div>
      <label>Bristande fysisk utformning och utrustning:</label>
      <input formControlName="fysTillaten" type="number">
    </div>

    <div>
      <label>Prognos lediga kl 16.00:</label>
      <input formControlName="prognosFore" type="number">
    </div>

    <div>
      <label>Påverkansgrad:</label>
      <input formControlName="pg" type="number">
    </div>

    <div>
      <label>Kommentarer</label>
      <textarea formControlName="kommentar"
                placeholder="Ange kontaktperson nåbar under eftermiddagen, namn och telefonnummer samt övriga kommentarer..."></textarea>
    </div>

-->

  </form>
  <!--<mat-form-field>
    <input matInput [(ngModel)]="user.verksamhet">
  </mat-form-field>-->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Avbryt</button>
  <button mat-button (click)="saveAndEmit()" cdkFocusInitial >Spara</button>
</div>
